@model EmployeeTaskMonitor.Core.Models.TaskResponseModel

<table class="table">
    <thead>
        <tr>
            <th scope="col">Task Name</th>
            <th scope="col">Start Date</th>
            <th scope="col">Deadline</th>
        </tr>
    </thead>
    @*<tbody>

        //task : IEnumerable<TaskModel>

        @foreach (var task in Model.EmployeeTasks)
        {
            <tr>
                <td>@task.TaskName</td>
                <td>@task.StartTime</td>
                <td>@task.Deadline</td>
            </tr>
        }
    </tbody>*@
</table>     